---
import Pseudo from './Pseudo.astro';
---

<Pseudo />
<script>
	import type { Group } from './group';
	import { color } from './group';
	class ICGroup extends HTMLElement {
		#animations: Animation[] = [];
		#dirty = false;
		group?: Group;
		#scope?: VtbagIcScopeElement;

		constructor() {
			super();
		}
		connectedCallback() {
			this.#scope = this.closest('vtbag-ic-scope') as VtbagIcScopeElement;
			this.render();
		}

		disconnectedCallback() {
			this.ownerDocument.body
				.querySelector(`#vtbag-color-g-${this.#scope!.scopeId}-${this.group?.preOrder! / 2}`)
				?.remove();
		}
		get name() {
			return this.group?.name;
		}
		get scope() {
			return this.#scope;
		}

		get animations() {
			return this.#animations;
		}

		set animations(value: Animation[]) {
			this.#animations = value;
			this.#dirty = true;
			this.render();
		}

		render() {
			const name = this.group?.name || '';
			if (!name) {
				this.insertAdjacentHTML('afterbegin', `<div class="group-content"></div>`);
				return;
			}
			if (this.isConnected && this.#dirty && this.group) {
				this.#dirty = false;

				this.style.setProperty('--vtn', 'g-' + this.#scope!.scopeId + '-' + this.group!.preOrder);

				if (this.group?.children.length) this.style.gridColumn = 'span 2';
				const col = color(this.group!);
				this.#scope!.element.ownerDocument.body.querySelector(
					`#vtbag-color-g-${this.#scope!.scopeId}-${this.group?.preOrder! / 2}`
				)?.remove();
				this.#scope!.element.ownerDocument.body.insertAdjacentHTML(
					'beforeend',
					`<style id="vtbag-color-g-${this.#scope!.scopeId}-${this.group?.preOrder! / 2}">::view-transition-group(${CSS.escape(this.group.name)}) { --vtbag-ic-group-color: ${col}; }</style>`
				);
				this.style.setProperty('--vtbag-ic-group-color', col);
				this.style.outline = `4px inset var(--vtbag-ic-group-color)`;

				const { noOld, noNew, noChildren } = components(this.#scope!.element, name);

				this.insertAdjacentHTML(
					'afterbegin',
					`
	<div class="group-content"><h3 class="heading" data-group="${this.group!.parent?.preOrder}">${displayName(name)}</h3>
		<vtbag-ic-pseudo name="group" ${this.#scope!.size === 'small' ? 'style="height: 0px"' : ''}'>
			<vtbag-ic-pseudo name="image-pair"><div class="old-new">
				${noOld ? '' : '<vtbag-ic-pseudo name="old"></vtbag-ic-pseudo>'}
				${noNew ? '' : '<vtbag-ic-pseudo name="new"></vtbag-ic-pseudo>'}
			</div></vtbag-ic-pseudo>
			${noChildren ? '' : '<vtbag-ic-pseudo name="group-children"></vtbag-ic-pseudo>'}
		</vtbag-ic-pseudo></div>
					`
				);
			}

			function displayName(name: string) {
				if (name.startsWith('-vtbag-auto-'))
					name = 'auto' + '<span>(' + name.substring(name.lastIndexOf('-') + 1) + ')</span>';
				if (name.startsWith('-vtbag-match-element-'))
					name = 'match-element' + '<sup>(' + name.substring(name.lastIndexOf('-') + 1) + ')</sup>';
				return name;
			}

			function components(scope: HTMLElement, name: string) {
				const noOld = getComputedStyle(
					scope,
					`::view-transition-new(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				const noNew = getComputedStyle(
					scope,
					`::view-transition-old(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				const noChildren = getComputedStyle(
					scope,
					`::view-transition-image-pair(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				return { noOld, noNew, noChildren };
			}
		}
	}
	if (!customElements.get('vtbag-ic-group')) customElements.define('vtbag-ic-group', ICGroup);
</script>
