---
import Pseudo from './Pseudo.astro';
---

<Pseudo />
<script>
	import type { Group } from './group';
	import { color, gid } from './group';
import { minmax } from './minmax';
	class ICGroup extends HTMLElement {
		#animations: Animation[] = [];
		#dirty = false;
		group?: Group;
		#scope?: VtbagIcScopeElement;

		constructor() {
			super();
		}
		connectedCallback() {
			this.#scope = this.closest('vtbag-ic-scope') as VtbagIcScopeElement;
			this.render();
		}

		disconnectedCallback() {}

		get name() {
			return this.group?.name;
		}
		get scope() {
			return this.#scope;
		}

		get animations() {
			return this.#animations;
		}

		set animations(value: Animation[]) {
			this.#animations = value;
			this.#dirty = true;
			this.render();
		}

		render() {
			if (this.isConnected && this.#dirty && this.group) {
				this.#dirty = false;
				const name = this.group?.name || '';

				this.style.setProperty('--vtn', 'g-' + this.#scope!.scopeId + '-' + gid(this.group));

				if (this.group?.children.length) this.style.gridColumn = 'span 2';
				const col = color(this.group!);
				this.#scope!.element.ownerDocument.body.querySelector(
					`#vtbag-color-${this.#scope!.scopeId}-${gid(this.group)}`
				)?.remove();
				this.#scope!.element.ownerDocument.body.insertAdjacentHTML(
					'beforeend',
					`<style id="vtbag-color-${this.#scope!.scopeId}-${gid(this.group)}">::view-transition-group(${CSS.escape(this.group.name)}) { --vtbag-ic-group-color: ${col}; }</style>`
				);
				this.style.setProperty('--vtbag-ic-group-color', col);
				

				const { noOld, noNew, noChildren } = components(this.#scope!.element, name);

				this.insertAdjacentHTML(
					'afterbegin',
					`
	<div class="group-content"><h3 class="heading" data-group="${gid(this.group)}">${displayName(this.group)}</h3>
		<vtbag-ic-pseudo name="group">
			<vtbag-ic-pseudo name="image-pair"><div class="old-new">
				${noOld ? '' : '<vtbag-ic-pseudo name="old"></vtbag-ic-pseudo>'}
				${noNew ? '' : '<vtbag-ic-pseudo name="new"></vtbag-ic-pseudo>'}
			</div></vtbag-ic-pseudo>
			${noChildren ? '' : '<vtbag-ic-pseudo name="group-children"></vtbag-ic-pseudo>'}
		</vtbag-ic-pseudo></div>
					`
				);
			}

			function displayName(group: Group) {
				let name = group.name;
				if (name.startsWith('-vtbag-auto-'))
					name = 'auto' + '<span>(' + name.substring(name.lastIndexOf('-') + 1) + ')</span>';
				if (name.startsWith('-vtbag-match-element-'))
					name = 'match-element' + '<sup>(' + name.substring(name.lastIndexOf('-') + 1) + ')</sup>';
				if (group.className && group.className !== 'none') {
					name += ' <small>.' + group.className.split(' ').join('<wbr>.') + '</small>';
				}
				return name;
			}

			function components(scope: HTMLElement, name: string) {

				// work around for Firefox bug. Should be Pseudo.exists
				const noOld = getComputedStyle(
					scope,
					`::view-transition-new(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				const noNew = getComputedStyle(
					scope,
					`::view-transition-old(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				const noChildren = getComputedStyle(
					scope,
					`::view-transition-image-pair(${CSS.escape(name)})`
				).getPropertyValue('--vtbag-ic-only-child');
				return { noOld, noNew, noChildren };
			}
		}
	}
	if (!customElements.get('vtbag-ic-group')) customElements.define('vtbag-ic-group', ICGroup);
</script>
