<script>
	import { moduleGroupMaps } from './capture';
	import { printToDevtools } from './devtool-bridge';
	import { deriveCSSSelector } from './element-selector';
	import { type Group, relocate } from './group';
	import { highlight } from './highlight';
	import { ICElement } from './ic-element';
	import { minmax } from './minmax';

	type CaptureEntry = {
		oldNamedElement?: Element;
		newNamedElement?: Element;
		oldDuplicateElements?: Element[];
		newDuplicateElements?: Element[];
		groupProperty?: string;
		classProperty?: string;
		children?: CaptureRecord;
	};
	type CaptureRecord = Record<string, CaptureEntry>;

	class ICViewTransitionCapture extends ICElement {
		calledOn: HTMLElement | undefined;
		transitionRoot: HTMLElement | undefined;

		init(calledOn: HTMLElement, transitionRoot: HTMLElement) {
			this.calledOn = calledOn;
			this.transitionRoot = transitionRoot;
			this.render();
		}

		protected render() {
			if (!this.transitionRoot) return;
			const captures: CaptureRecord = Object.create(null);
			let current: CaptureRecord[] = [];

			const dump = (elem: HTMLElement, group?: Group, level = 0) => {
				if (!group) return;
				const indent = '&nbsp;'.repeat(level * 2);
				let record: CaptureRecord;
				let entry: CaptureEntry = undefined!;
				if (group.parent) {
					entry = Object.create(null);
					entry.children = Object.create(null);

					if (group.old) entry.oldNamedElement = group.old.element;
					if (group.new) entry.newNamedElement = group.new.element;
					if (group.oldDuplicates)
						entry.oldDuplicateElements = group.oldDuplicates.map((d) => d.element);
					if (group.newDuplicates)
						entry.newDuplicateElements = group.newDuplicates.map((d) => d.element);
					// if there is a new element, its view-transition-class property dominates
					if (group.old && group.old.viewTransitionClass !== 'none')
						entry.classProperty = group.old.viewTransitionClass;
					if (group.new && group.new.viewTransitionClass !== 'none')
						entry.classProperty = group.new.viewTransitionClass;
					if (entry.classProperty === undefined) delete entry.classProperty;
					// if there is an old element, its view-transition-group property dominates
					if (group.new && group.new.viewTransitionGroup !== 'normal')
						entry.groupProperty = group.new.viewTransitionGroup;
					if (group.old && group.old.viewTransitionGroup !== 'normal')
						entry.groupProperty = group.old.viewTransitionGroup;
					if (entry.groupProperty === undefined) delete entry.groupProperty;
					record = current.at(-1)!;
					record[group.name] = entry;

					elem.insertAdjacentHTML(
						'beforeend',
						`<details>
							<summary>${indent}<strong>${group.name}</strong>${entry.classProperty ? ` [classes: ${entry.classProperty}]` : ''}${entry.groupProperty ? ` [grouping: ${entry.groupProperty}]` : ''}</summary> 
							${group.old ? `<div>${indent}<span class="highlight old">${deriveCSSSelector(group.old.element)}</span> (old)</div>` : ''}
							${group.new ? `<div>${indent}<span class="highlight new">${deriveCSSSelector(group.new.element)}</span> (new)</div>` : ''}
							${group.oldDuplicates?.map((d) => `<div>${indent}<span class="highlight old-duplicates">${deriveCSSSelector(d.element)}</span> (old duplicate)</div>`).join('') || ''}
							${group.newDuplicates?.map((d) => `<div>${indent}<span class="highlight new-duplicates">${deriveCSSSelector(d.element)}</span> (new duplicate)</div>`).join('') || ''}
						</details>`
					);
					const classList = elem.lastElementChild!.querySelector('summary strong')?.classList;
					classList?.toggle('with-children', group.children.length > 0);
					classList?.toggle('new', !!group.new);
					classList?.toggle('old', !!group.old);
					classList?.toggle('new-duplicates', !!group.newDuplicates);
					classList?.toggle('old-duplicates', !!group.oldDuplicates);
					elem
						.lastElementChild!.querySelector('summary')
						?.addEventListener('pointerenter', () =>
							highlight(group[group.new ? 'new' : 'old']?.element)
						);
					elem
						.lastElementChild!.querySelector('.highlight.old')
						?.addEventListener('pointerenter', () => highlight(group.old?.element));
					elem
						.lastElementChild!.querySelector('.highlight.old')
						?.addEventListener('click', () => console.log(group.old?.element));
					elem
						.lastElementChild!.querySelector('.highlight.new')
						?.addEventListener('pointerenter', () => highlight(group.new?.element));
					elem
						.lastElementChild!.querySelector('.highlight.new')
						?.addEventListener('click', () => console.dir(group.new?.element));

					elem
						.lastElementChild!.querySelectorAll('.highlight.old-duplicates')
						.forEach((el, idx) =>
							el.addEventListener('pointerenter', () =>
								highlight(group.oldDuplicates?.[idx].element)
							)
						);
					elem
						.lastElementChild!.querySelectorAll('.highlight.old-duplicates')
						?.forEach((el, idx) =>
							el.addEventListener('click', () => console.log(group.oldDuplicates?.[idx].element))
						);
					elem
						.lastElementChild!.querySelectorAll('.highlight.new-duplicates')
						.forEach((el, idx) =>
							el.addEventListener('pointerenter', () =>
								highlight(group.newDuplicates?.[idx].element)
							)
						);
					elem
						.lastElementChild!.querySelectorAll('.highlight.new-duplicates')
						?.forEach((el, idx) =>
							el.addEventListener('click', () => console.dir(group.newDuplicates?.[idx].element))
						);
				}
				const childRecord = entry?.children || captures;
				current.push(childRecord);
				group.children.forEach((child: Group) => {
					dump(group.parent ? (elem.lastElementChild as HTMLElement) : elem, child, level + 1);
				});
				current.pop();
				if (entry && Object.keys(entry.children!).length === 0) {
					delete entry.children;
				}
			};

			const features = parent.__vtbag.ic2?.vtMap?.get(this.calledOn!);
			const localeTime = new Date(features?.time ?? 0).toLocaleTimeString();
			const oldOnly = parent.__vtbag.ic2?.captureOldOnly;

			const group: Group | undefined = moduleGroupMaps.get(this.calledOn!)?.get('@')!;
			if (features?.crossDocument) relocate(group, this.transitionRoot.ownerDocument);

			this.insertAdjacentHTML(
				'beforeend',
				`<h3>${this.calledOn?.ownerDocument ? deriveCSSSelector(this.calledOn) : 'document global'}</h3><p>View transition started at ${localeTime} <span class="print" title="Make info available in Devtools console">[🖶]</span></p>
				<p>Active view transition types during capture of <strong>old</strong> images: <strong>${
					[...(features?.oldTypes ?? [])].join(', ') || 'none'
				}</strong></p>				
					${
						oldOnly
							? ''
							: `<p>Active view transition types during capture of <strong>new</strong> images: <strong>${
									[...(features?.newTypes ?? [])].join(', ') || 'none'
								}</strong></p>`
					}
				<div class=content></div>`
			);
			const content = this.querySelector('.content') as HTMLElement;
			minmax(
				content,
				'minimized',
				'Captured Animation Groups',
				sessionStorage,
				`capture-root-${this.calledOn?.ownerDocument ? deriveCSSSelector(this.calledOn) : 'document global'}`
			);

			this.querySelector('.print')?.addEventListener('click', () => {
				if (!this.calledOn) {
					printToDevtools(
						`Cross-document view transition, started at %s, captured the following elements ${oldOnly ? ' for old images, only' : 'for old and/or new images'}\n%O`,
						localeTime,
						captures
					);
				} else {
					printToDevtools(
						`View transition on %O was started at %s from this code location:\n%s\nIt captured the following elements ${oldOnly ? ' for old images, only' : 'for old and/or new images'}\n%O`,
						this.calledOn,
						localeTime,
						'\n' + features?.trace,
						captures
					);
				}
			});
			dump(content, group);
		}
	}
	customElements.define('vtbag-ic-view-transition-capture', ICViewTransitionCapture);
</script>

<style is:global>
	@layer components {
		@scope (vtbag-ic-view-transition-capture) {
			:scope {
				display: block;
				padding: 0.5rem 0.75rem 0.5rem 0.75rem;
				background: light-dark(#f6f6f6, #0a0a0a);
				border-radius: 4px;
				border: 1px solid light-dark(#d6d6d6, #2a2a2a);
				box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
				p {
					margin: 4px;
					padding: 4px;
					font-size: 0.9rem;
				}
				.print {
					cursor: pointer;
					user-select: none;
					color: light-dark(darkgreen, yellowgreen);
				}
				summary strong {
					cursor: pointer;
					&.old {
						color: light-dark(darkslateblue, slateblue);
					}
					&.new {
						color: darkolivegreen;
					}
					&.old.new {
						color: darkgoldenrod;
					}
					&.old-duplicates,
					&.new-duplicates {
						color: light-dark(darkred, red) !important;
					}
					&.with-children::after {
						content: ' (with children)';
						color: #888;
					}
				}
				.highlight {
					color: light-dark(#222222, #dddddd);
					cursor: pointer;
					&.old {
						color: light-dark(darkslateblue, slateblue);
					}
					&.new {
						color: darkolivegreen;
					}
					&.old-duplicates,
					&.new-duplicates {
						color: light-dark(darkred, red);
					}
				}
				details > :not(summary) {
					margin-left: 1rem;
				}
			}
		}
	}
</style>
