<script>
	import { moduleGroupMaps } from './capture';
	import { printToDevtools } from './devtool-bridge';
	import { deriveCSSSelector } from './element-selector';
	import { displayName, type Group, relocate } from './group';
	import { highlight } from './highlight';
	import { ICElement } from './ic-element';

	type ElementInfo = {
		element: Element;
		pseudoElement?: string;
	};
	type CaptureEntry = {
		oldNamedElement?: ElementInfo;
		newNamedElement?: ElementInfo;
		oldDuplicateElements?: ElementInfo[];
		newDuplicateElements?: ElementInfo[];
		groupProperty?: string;
		classProperty?: string;
		children?: CaptureRecord;
	};
	type CaptureRecord = Record<string, CaptureEntry>;

	class ICViewTransitionCapture extends ICElement {
		featuresKey: HTMLElement | undefined | null = null;

		init(featuresKey: HTMLElement) {
			this.featuresKey = featuresKey;
			this.render();
		}

		protected render() {
			if (this.featuresKey === null) return;

			const specimenDoc =
				parent.document.querySelector<HTMLIFrameElement>('#test-jig')?.contentDocument;

			const captures: CaptureRecord = Object.create(null);
			let current: CaptureRecord[] = [];

			const dump = (elem: HTMLElement, group?: Group, level = 0) => {
				if (!group) return;
				let record: CaptureRecord;
				let entry: CaptureEntry = undefined!;
				if (group.parent) {
					entry = entryForDevtools(group);
					record = current.at(-1)!;
					record[group.name] = entry;
					groupDetails(elem, group, entry.classProperty, entry.groupProperty);
				}
				const childRecord = entry?.children || captures;
				current.push(childRecord);
				group.children.forEach((child: Group) => {
					dump(group.parent ? (elem.lastElementChild as HTMLElement) : elem, child, level + 1);
				});
				current.pop();
				if (entry && Object.keys(entry.children!).length === 0) {
					delete entry.children;
				}
			};

			const features = parent.__vtbag.ic2?.vtMap?.get(this.featuresKey!);
			const localeTime = new Date(features?.time ?? 0).toLocaleString(undefined, {
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
				hour12: false,
				fractionalSecondDigits: 3,
			});
			const oldOnly = parent.__vtbag.ic2?.captureOldOnly;

			const group: Group | undefined = moduleGroupMaps.get(this.featuresKey!)?.get('@')!;
			if (features?.crossDocument) relocate(group, specimenDoc!);

			this.insertAdjacentHTML(
				'beforeend',
				`<h3>${this.featuresKey ? 'Same-document call on ' + deriveCSSSelector(this.featuresKey) : 'Cross-document navigation'}, started at ${localeTime}</h3>
				<p>Active view transition types during capture of <strong>old</strong> images: <strong>${
					[...(features?.oldTypes ?? [])].join(', ') || 'none'
				}</strong></p>				
					${
						oldOnly
							? ''
							: `<p>Active view transition types during capture of <strong>new</strong> images: <strong>${
									[...(features?.newTypes ?? [])].join(', ') || 'none'
								}</strong></p>`
					}
				<details open><summary>Named elements <span class="devtools" title="Show in browser console">[🖶]</span></summary><div class=content></div></details>`
			);
			const content = this.querySelector('.content') as HTMLElement;

			this.querySelector('.devtools')?.addEventListener('click', (e) => {
				if (!this.featuresKey) {
					printToDevtools(
						`Cross-document view transition, started at %s, captured the following elements ${oldOnly ? '(old images, only)' : ''}\n%O`,
						localeTime,
						captures
					);
				} else {
					printToDevtools(
						`View transition on %O was started at %s from this code location:\n%s\nIt captured the following elements ${oldOnly ? '(old images, only)' : ''}\n%O`,
						this.featuresKey,
						localeTime,
						'\n' + features?.trace,
						captures
					);
				}
				e.preventDefault();
			});
			dump(content, group);
			//highlightNamedElements(content);

			function highlightNamedElements(elem: HTMLElement) {
				const css: string[] = [];
				elem.querySelectorAll<HTMLElement>('*').forEach((element) => {
					const computedStyle = specimenDoc?.defaultView?.getComputedStyle(element);
					const name = computedStyle?.viewTransitionName;
					if (name && name !== 'none') {
						element.dataset.vtbagViewTransitionName = name;
						css.push(`
	[vtbag-view-transition-name="${name}"] {
		outline: 1px dashed gray;
	}`);
						element.addEventListener('pointerenter', () => highlight(elem as HTMLElement));
					}
				});

				specimenDoc?.head.querySelector('#vtbag-capture-style')?.remove();
				specimenDoc?.head.insertAdjacentHTML(
					'beforeend',
					`<style id="vtbag-capture-style">
					${css.join('\n')}
				</style>`
				);
			}

			function groupDetails(
				container: HTMLElement,
				group: Group,
				classP?: string,
				groupP?: string
			) {
				function label(element: Element, oldNew: string, pseudoElement?: string) {
					return `<div>${oldNew} image element: <span class="highlight ${oldNew}">${deriveCSSSelector(element) + (pseudoElement ? pseudoElement : '')}</span></div>`;
				}
				container.insertAdjacentHTML(
					'beforeend',
					`<details data-paint-order="${group.preOrder}" style="view-transition-name: G${group.preOrder}; view-transition-class: sorted-item">
							<summary>Group <strong>${displayName(group)}</strong>${classP ? ` [classes: <b>${classP}</b>]` : ''}${groupP ? ` [grouping: <b>${groupP}</b>${group.oldHidden || group.newHidden ? ' (ignored)' : ''}]` : ''}${group.oldHidden || group.newHidden ? ', hidden by view-transition-scope' : ''}</summary> 
							${group.old ? label(group.old.element, 'old', group.old.pseudoElement) : ''}
							${group.new ? label(group.new.element, 'new', group.new.pseudoElement) : ''}
							${group.oldDuplicates?.map((d) => label(d.element, 'old-duplicates', d.pseudoElement)).join('') || ''}
							${group.newDuplicates?.map((d) => label(d.element, 'new-duplicates', d.pseudoElement)).join('') || ''}
						</details>`
				);
				const classList = container.lastElementChild!.querySelector('summary strong')?.classList;
				classList?.toggle('with-children', group.children.length > 0);
				classList?.toggle('new', !!group.new);
				classList?.toggle('old', !!group.old);
				classList?.toggle('new-duplicates', !!group.newDuplicates);
				classList?.toggle('old-duplicates', !!group.oldDuplicates);
				classList?.toggle('hidden', (group.oldHidden ?? false) || (group.newHidden ?? false));

				// todo: combine listeners
				container
					.lastElementChild!.querySelector('summary')
					?.addEventListener('pointerenter', () =>
						highlight(
							group[group.new ? 'new' : 'old']?.element,
							group[group.new ? 'new' : 'old']?.pseudoElement
						)
					);
				container
					.lastElementChild!.querySelector('.highlight.old')
					?.addEventListener('pointerenter', () =>
						highlight(group.old?.element, group.old?.pseudoElement)
					);
				container
					.lastElementChild!.querySelector('.highlight.old')
					?.addEventListener('click', () => console.dir(group.old?.element));
				container
					.lastElementChild!.querySelector('.highlight.new')
					?.addEventListener('pointerenter', () =>
						highlight(group.new?.element, group.new?.pseudoElement)
					);
				container
					.lastElementChild!.querySelector('.highlight.new')
					?.addEventListener('click', () => console.dir(group.new?.element));

				container
					.lastElementChild!.querySelectorAll('.highlight.old-duplicates')
					.forEach((el, idx) =>
						el.addEventListener('pointerenter', () =>
							highlight(
								group.oldDuplicates?.[idx].element,
								group.oldDuplicates?.[idx].pseudoElement
							)
						)
					);
				container
					.lastElementChild!.querySelectorAll('.highlight.old-duplicates')
					?.forEach((el, idx) =>
						el.addEventListener('click', () => console.dir(group.oldDuplicates?.[idx].element))
					);
				container
					.lastElementChild!.querySelectorAll('.highlight.new-duplicates')
					.forEach((el, idx) =>
						el.addEventListener('pointerenter', () =>
							highlight(
								group.newDuplicates?.[idx].element,
								group.newDuplicates?.[idx].pseudoElement
							)
						)
					);
				container
					.lastElementChild!.querySelectorAll('.highlight.new-duplicates')
					?.forEach((el, idx) =>
						el.addEventListener('click', () => console.dir(group.newDuplicates?.[idx].element))
					);
			}

			function entryForDevtools(group: Group) {
				const entry = Object.create(null);
				entry.children = Object.create(null);

				if (group.old)
					entry.oldNamedElement = {
						element: group.old.element,
						pseudoElement: group.old.pseudoElement,
					};
				if (group.new)
					entry.newNamedElement = {
						element: group.new.element,
						pseudoElement: group.new.pseudoElement,
					};
				if (group.oldDuplicates)
					entry.oldDuplicateElements = group.oldDuplicates.map((d) => ({
						element: d.element,
						pseudoElement: d.pseudoElement,
					}));
				if (group.newDuplicates)
					entry.newDuplicateElements = group.newDuplicates.map((d) => ({
						element: d.element,
						pseudoElement: d.pseudoElement,
					}));
				// if there is a new element, its view-transition-class property dominates
				if (group.old && group.old.viewTransitionClass !== 'none')
					entry.classProperty = group.old.viewTransitionClass;
				if (group.new && group.new.viewTransitionClass !== 'none')
					entry.classProperty = group.new.viewTransitionClass;
				if (entry.classProperty === undefined) delete entry.classProperty;
				// if there is an old element, its view-transition-group property dominates
				if (group.new && group.new.viewTransitionGroup !== 'normal')
					entry.groupProperty = group.new.viewTransitionGroup;
				if (group.old && group.old.viewTransitionGroup !== 'normal')
					entry.groupProperty = group.old.viewTransitionGroup;
				if (entry.groupProperty === undefined) delete entry.groupProperty;
				return entry;
			}
		}
	}
	customElements.define('vtbag-ic-view-transition-capture', ICViewTransitionCapture);
</script>

<style is:global>
	@layer components {
		vtbag-ic-view-transition-capture {
			display: block;
			grid-column: 1 / -1;
			padding: 0.5rem 0.75rem 0.5rem 0.75rem;
			background: light-dark(#f6f6f6, #0a0a0a);
			border-radius: 4px;
			border: 1px solid light-dark(#d6d6d6, #2a2a2a);
			box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
			p {
				margin: 4px;
				padding: 4px;
				font-size: 0.9rem;
			}
			.print {
				cursor: pointer;
				user-select: none;
				color: light-dark(darkgreen, yellowgreen);
			}
			summary {
				color: #888;
				b {
					color: light-dark(black, white);
				}
				strong {
					cursor: pointer;
					&.old {
						color: light-dark(darkslateblue, slateblue);
					}
					&.new {
						color: darkolivegreen;
					}
					&.old.new {
						color: darkgoldenrod;
					}
					&.old-duplicates,
					&.new-duplicates {
						color: light-dark(darkred, red) !important;
					}
					&.with-children::after {
						content: ' (with children)';
						color: #888;
					}
					&.hidden {
						text-decoration: line-through;
					}
				}
			}

			.highlight {
				color: light-dark(#222222, #dddddd);
				cursor: pointer;
				&.old {
					color: light-dark(darkslateblue, slateblue);
				}
				&.new {
					color: darkolivegreen;
				}
				&.old-duplicates,
				&.new-duplicates {
					color: light-dark(darkred, red);
				}
			}
			details > :not(summary) {
				margin-left: 1.34rem;
			}
			details:has(*.old-duplicates, *.new-duplicates) > summary strong {
				color: light-dark(darkorange, orange);
			}
		}
	}
</style>
